svg .xaxis  line{
  fill: none;
  stroke: grey;
  shape-rendering: crispEdges;
  }
  
svg .yaxis line{
  fill: none;
  stroke: grey;
  shape-rendering: crispEdges;
  }

svg .yaxis text {
  color: grey;
  font-family: sans-serif;
}

svg .xaxis text {
  color: grey;
  font-family: sans-serif;
}
